$black: #000;
$dark-grey: #333;
$red: #f00;
$white: #fff;

* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $white;
}

::placeholder {
  color: $dark-grey;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: $white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-search,
.user-info {
  display: block;
  text-align: center;
  color: $dark-grey;
  padding: 10px;
  width: 50%;
}

.user-info {
  border: 1px solid $white;
}

/* .user-search-input {
  padding: 5px;
  width: 300px;
  height: 35px;
  border-top: $dark-grey;
  border-left: $dark-grey;
  border-right: $dark-grey;
  font-size: 15px;
  color: $dark-grey;
} */

/* .user-search-button {
  margin-left: 10px;
  padding: 10px;
  height: 50px;
  background-color: $dark-grey;
  color: $black;
  border: 1px solid $dark-grey;
  font-size: 20px;
  width: 120px;
} */

.user-search-error {
  color: $red;
  text-align: center;
}

.user-search-loading {
  display: block;
  text-align: center;
}

.user-info-img {
  height: 200px;
  width: 200ṕx;
  border-radius: 50%;
}

.main-footer > p {
  padding: 10px;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $dark-grey;
  color: $white;
  text-align: center;
}
